{{- $defaultColorScheme := .Site.Params.colorScheme.default -}}
{{- if not .Site.Params.colorScheme.toggle -}}
    <script>
        (function() {
            const colorSchemeKey = 'FreeEasyColorScheme';
            localStorage.setItem(colorSchemeKey, "{{ $defaultColorScheme }}");
        })();
    </script>
{{- else -}}
    <script>
        (function() {
            const colorSchemeKey = 'FreeEasyColorScheme';
            if(!localStorage.getItem(colorSchemeKey)){
                localStorage.setItem(colorSchemeKey, "{{ $defaultColorScheme }}");
            }
        })();
    </script>
{{- end -}}

<script>
    (function() {
        const colorSchemeKey = 'FreeEasyColorScheme';
        const colorSchemeItem = localStorage.getItem(colorSchemeKey);
        const supportDarkMode = window.matchMedia('(prefers-color-scheme: dark)').matches === true;

        if (colorSchemeItem == 'dark' || colorSchemeItem === 'auto' && supportDarkMode) {
            document.documentElement.dataset.scheme = 'dark';
        } else {
            document.documentElement.dataset.scheme = 'light';
        }
    })();
</script>
